.App {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

img {
    align-self: center;
    padding: 1em;
}

.JokeButton {
    align-self: center;
    padding: 1em;
}

.JokeText {
    align-self: center;
    padding: 1em;
}
